<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/template_head.ejs %>
  </head>
  <body>
    
    <% include ../../partials/template_nav_header.ejs %>
    <% if(user_profile.login) { %>
      <% include ../../partials/template_sidebar.ejs %>
    <% } %>

    <% include ../../partials/template_body.ejs %>

    <div class="container">
        <p><h5><%= page_title %></h5><hr class="style1"></p>
            <!-- Start of Main Data-->
            <div id="demo1"></div>
            <script src="/dist/vendors_bundle.js"></script>
            <script src="/dist/custodiancust_demo1_compoent_bundle.js"></script>
            <!-- End of Main Data-->
    </div>
    <% include ../../partials/template_footer.ejs %>
    
    <% if(locals.show_popup){ %>
      <% var popup = locals.popup; %>
      <% include ../../partials/template_popup.ejs %>  
    <% } %>

  </body>  
</html>


<script>
    function onCreateUserDeptChange(select){
        $('#selected_create_dept').val(select.options[select.selectedIndex].value);
    }
    function onCreateUserEmployeeChange(select){
        $('#selected_create_employee').val(select.options[select.selectedIndex].value);
    }
</script>