<div class="container">
    <br/>
    <div class="alert alert-danger">No permission, please contact the customer service to apply.</div>
    <div class="align-right">
        <a href="/dashboard">
            <button class="btn btn btn-outline-secondary" id="error-back">Back Home</button>
        </a>
    </div>
    <br/>
</div>