<nav class="navbar navbar-expand-xl navbar-light bg-light">

    <a class="navbar-brand"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav_list">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="nav_list">

        <span></span>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/dashboard">
                    <img class="nav-icon" src="/svg/dashboard.svg" />Dashboard</a>
            </li>
            <% for(let s in user_profile.permission_list){ %>
                <li class="nav-item dropdown active">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">
                        <img class="nav-icon" src="/svg/file-directory.svg" />
                        <%= user_profile.permission_list[s].name %>
                    </a>

                    <div class="dropdown-menu">
                        <% for( let c in user_profile.permission_list[s] ) { %>
                            <% if( c !='id' && c !='name' && c !='description' ) { %>
                                <div>
                                    <div class="menu-title">
                                        <%= user_profile.permission_list[s][c].name %>
                                    </div>
                                    <% for( let f in user_profile.permission_list[s][c] ) { %>
                                        <% if( f !='id' && f !='name' && f !='description') { %>
                                            <a class="dropdown-item" href="<%- user_profile.permission_list[s][c][f].url %>">
                                                <img class="nav-icon" src="/svg/file.svg" />
                                                <%= user_profile.permission_list[s][c][f].name %>
                                            </a>
                                        <% } %>
                                    <% } %>
                                </div>
                                <div class="dropdown-divider"></div>
                            <% } %>
                        <% } %>
                    </div>
                </li>
            <% } %>
            <li class="nav-item active">
                <a class="nav-link" href="/logout">
                    <img class="nav-icon" src="/svg/sign-out.svg" />SIGN OUT</a>
            </li>
        </ul>

    </div>
</nav>