<header>
    <div class="version-frame align-right">
        <span>
            <%= title %>
        </span>
    </div>
    <nav class="navbar navbar-expand-xl navbar-light bg-light">
        <div>
            <a class="navbar-brand">
                <img class="sinopac-header-icon" src="/images/logo.png" alt="sinopac logo">
            </a>
        </div>
    </nav>
</header>