<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/template_head.ejs %>
        <link rel='stylesheet' href='/css/view_style/custodian_cust_web_style.css' />
</head>

<body>
    <% include partials/template_body.ejs %>
    <% include partials/template_nav_header.ejs %>

    <% if(locals.show_popup){ %>
        <% var popup = locals.popup; %>
        <% include partials/template_popup.ejs %>
    <% } %>

    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card verify-card">

                    <div class="card-header verify-card-header">
                        <p class="card-text">
                            Check your email for reset password mail. If it does not appear within a few minutes, check your spam folder.
                        </p>
                        <hr class="verify-card-divider" />
                    </div>

                    <div class="card-body verify-card-body">
                        <p class="card-text align-center" id="ShowSecond"></p>
                        <form class="align-center" autocomplete="off" action="/" method="get">
                            <div class="form-group">
                                <button type="submit" class="btn block-btn verify-btn">Return to login</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <% include partials/template_footer.ejs %>
</body>

</html>

<script nonce="<%= locals.nonce%>" type="text/javascript">
    var t = 10;
    function showTime() {
        t -= 1;
        document.getElementById('ShowSecond').innerHTML = "The page will auto redirect in " + t + " seconds";
        if (t == 0) {
            location.href = '/';
        }
        setTimeout("showTime()", 1000);
    }
    showTime();
</script>