<!DOCTYPE html>
<html lang="en">
  <head>
		<% include partials/template_head.ejs %>
		<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
		<META HTTP-EQUIV="EXPIRES" CONTENT="0">
		<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  </head>
  <body>
    <% include partials/template_nav_header.ejs %>
		<link rel='stylesheet' href='/css/view_style/CustodianCustWebStyle.css' />
    <div>
				<div class="card-container">
					<div class="card">
						<div class="card-body">
							<p class="card-text">Enter your email address and ID, we will send you a link to reset your password. </p>
						</div>
            <form class="inline" autocomplete="off" action="/resetpassword/send" method="post"> 
							<div class="card-body">
								<input type="text" class="card-input form-control" id="UserID" name="UserID" placeholder="Please enter your account ID." required="required"
												required pattern="[A-Za-z0-9_]{1,30}" maxlength='30' title='輸入ID不能含有特殊字元'/> 
                <p></p>
								<input type="email" class="card-input" id="UserEmail" name="UserEmail" placeholder="Please enter your e-mail address." required="required"/>
							</div>

							<div class="card-body">
								<button type="submit" class="btn btn-block btn-verify">
									Send password reset email
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>

    <% include partials/template_body.ejs %>
		<% include partials/template_footer.ejs %>
		
		<% if(locals.show_popup){ %>
			<% var popup = locals.popup; %>
			<% include partials/template_popup.ejs %>  
		<% } %>
    
  </body>  
</html>
