<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/template_head.ejs %>
  </head>
  <body>
    <% include partials/template_nav_header.ejs %>
		<link rel='stylesheet' href='/css/view_style/CustodianCustWebStyle.css' />
    	<div>
				<div class="card-container">
					<div class="card">
						<div class="card-body">
							<p class="card-text">Please enter your email </p>
						</div>
							<form class="inline" autocomplete="off" action="<%- requrl%>" method="post">
								<div class="card-body form-group">
									<label class="label" for="VerifyCode">Verify code:</label>
									<input type="email" class="card-input form-control" id="UserEmail" name="UserEmail" required="required" placeholder="Please enter your email.">
									<p></p>
									<button type="submit" class="btn btn-block btn-verify">Verify</button>
								</div>
							</form>
					</div>
				</div>
			</div>

    <% include partials/template_body.ejs %>
		<% include partials/template_footer.ejs %>
		
		<% if(locals.show_popup){ %>
      <% var popup = locals.popup; %>
      <% include partials/template_popup.ejs %>  
    <% } %>
    
  </body>  
</html>
