<!DOCTYPE html>
<html lang="en">
  <head>
		<% include partials/template_head.ejs %>
  </head>
  <body>
    <% include partials/template_nav_header.ejs %>
		<link rel='stylesheet' href='/css/view_style/CustodianCustWebStyle.css' />
    <div>
				<div class="card-container">
					<div class="card">
						<div class="card-body">
							<% if(type==="url") { %>
							<p class="card-text">The account is activated.</p>
							<% } else { %>
							<p class="card-text">New password set successfully.</p>
							<% } %>	
						</div>
            <form class="inline" autocomplete="off" action="/" method="get"> 
							<div class="card-body">
								<button type="submit" class="btn btn-block btn-verify">
									Return to login
								</button>
								<p class="card-text" id="ShowSecond"></p>
							</div>
						</form>
				</div>
			</div>

    <% include partials/template_body.ejs %>
		<% include partials/template_footer.ejs %>
		
		<% if(locals.show_popup){ %>
      <% var popup = locals.popup; %>
      <% include partials/template_popup.ejs %>  
    <% } %>
    
  </body>  
</html>

<script type="text/javascript">
	var t = 10;
	function showTime()
	{
			t -= 1;
			document.getElementById('ShowSecond').innerHTML= "The page will auto redirect in "+ t +" seconds";		
			if(t==0)
			{
					location.href='/';
			}
			setTimeout("showTime()",1000);
	}
	window.history.forward(1);
	showTime();
</script>
