<!DOCTYPE html>
<html lang="en">
  <head>
		<% include partials/template_head.ejs %>
		<META HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE">
		<META HTTP-EQUIV="EXPIRES" CONTENT="0">
		<META HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE">
  </head>
  <body>
    <% include partials/template_nav_header.ejs %>
		<link rel='stylesheet' href='/css/view_style/CustodianCustWebStyle.css' />
    <div>
				<div class="card-container">
					<div class="card">
						<div class="card-body">
							<% if(type==="reset_url") { %>
							<p class="card-text">Please enter your verify code and password. Password must contain uppercase letter, one number, and at least 8 characters long.</p> 
							<% } else { %>
							<p class="card-text">Please enter your password. Password must contain uppercase letter, one number, and at least 8 characters long.</p> 
							<% } %>	
						</div>
            <form class="inline" autocomplete="off" action="<%- requrl%>" method="post"> 
							<div class="card-body">
								<input type="text" class="card-input form-control" id="VerifyCode" name="VerifyCode" value="<%- verifycode%>" hidden>
								<input type="text" class="card-input form-control" id="Type" name="Type" value="<%- type%>" hidden>	
								<label class="label" for="Password">Password:</label>
								<input 	type="password" class="card-input form-control" id="Password" name="Password" placeholder="Please enter your password."
												required pattern="[A-Z]{1}[A-Za-z0-9]{7,30}" maxlength='30' title='由第一個大寫字元加英文或數字所組成的8~30字元'
												onchange="$('#ConfirmPassword').attr('pattern',$(this).val())">
								<p></p>
								<label class="label" for="ConfirmPassword">Confirm password:</label>
								<input 	type="password" class="card-input form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Please confirm your password."
												required title='與密碼不符'>
								<p></p>
								<% if(type==="reset_url") { %>
								<button type="submit" class="btn btn-block btn-verify">
										Reset password
								</button>
								<% } else { %>
								<button type="submit" class="btn btn-block btn-verify">
										Initial password
								</button>
								<% } %>
							</div>
						</form>
					</div>
				</div>
			</div>

    <% include partials/template_body.ejs %>
		<% include partials/template_footer.ejs %>
		
		<% if(locals.show_popup){ %>
      <% var popup = locals.popup; %>
      <% include partials/template_popup.ejs %>  
    <% } %>
    
  </body>  
</html>


