<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/template_head.ejs %>
  </head>
  <body>
    <% include partials/template_nav_header.ejs %>
		<link rel='stylesheet' href='/css/view_style/CustodianCustWebStyle.css' />
    <div>
				<div class="card-container">
					<div class="card">
						<div class="card-body">
							<p class="card-text">Check your email for reset password mail. If it does not appear within a few minutes, check your spam folder.</p>
						</div>
            <form class="inline" autocomplete="off" action="/" method="get"> 
							<div class="card-body">
								<button type="submit" class="btn btn-block btn-verify">
									Return to login
								</button>
								<p class="card-text" id="ShowSecond"></p>
							</div>
						</form>
					</div>
				</div>
			</div>

    <% include partials/template_body.ejs %>
    <% include partials/template_footer.ejs %>
    
  </body>  
</html>

<script type="text/javascript">
	var t = 10;
	function showTime()
	{
			t -= 1;
			document.getElementById('ShowSecond').innerHTML= "The page will auto redirect in "+ t +" seconds";		
			if(t==0)
			{
					location.href='/';
			}
			setTimeout("showTime()",1000);
	}
	showTime();
</script>