<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../../partials/template_head.ejs %>
    <link rel='stylesheet' href='/css/view_style/custodian_cust_web_style.css' />
</head>

<body>
        <% include ../../partials/template_body.ejs %>
        <% include ../../partials/template_nav_header.ejs %>

        
        <% if(user_profile.login) { %>
            <% include ../../partials/template_sidebar.ejs %>
            <% include ../../partials/template_timeout.ejs %>
        <% } %>

        <% if(locals.show_popup){ %>
            <% var popup = locals.popup; %>
            <% include ../../partials/template_popup.ejs %>
        <% } %>
        
    
        <div class="container ">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card verify-card">


                        <div class="card-header verify-card-header">
                            <p class="card-text">Please enter your old password and new password. The password must contains
                                uppercase letters, numbers, and at least 8 characters long.</p>
                                <hr class="verify-card-divider" />
                        </div>

                        <div class="card-body">
                            <form autocomplete="off" action="/S099C001F001/send" method="post">
                            
                                <div class="form-group">
                                    <label class="label" for="OldPassword">Please enter your old password:</label>
                                    <input  type="password" 
                                            class="form-control" 
                                            id="OldPassword" 
                                            name="OldPassword" 
                                            required
                                    />
                                </div>
                                
                                <div class="form-group">
                                    <label class="label" for="Password">Please enter your new password:</label>
                                    <input  type="password" 
                                            class="form-control" 
                                            id="Password" 
                                            name="Password"
                                            required 
                                            pattern="[A-Z]{1}[A-Za-z0-9]{7,30}" 
                                            maxlength='30' 
                                            title='Password must contain uppercase letter, one number, and at least 8 characters long.'/>
                                </div>
                                
                                <div class="form-group">
                                    <label class="label" for="ConfirmPassword">Please confirm your password:</label>
                                    <input  type="password" 
                                            class="form-control" 
                                            id="ConfirmPassword" 
                                            name="ConfirmPassword"
                                            required 
                                            title='Password should be the same'/>
                                </div>
                                <div class="form-group">
                                    <button type="submit" id="ButtonSubmit" class="btn block-btn verify-btn">
                                        Reset password
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
                    
        <% include ../../partials/template_footer.ejs %>

</body>

</html>

<script nonce="<%= locals.nonce%>">
    document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('ConfirmPassword').addEventListener('keyup', function doThings() {
            var pw1 = document.getElementById("Password").value;
            var pw2 = document.getElementById("ConfirmPassword").value;
            if (pw1 == pw2) {
                document.getElementById("check").innerHTML = "<font color='green'>Confirm password is as same as password</font>";
                document.getElementById("ButtonSubmit").disabled = false;
            }
            else {
                document.getElementById("check").innerHTML = "<font color='red'>Confirm password is different from password</font>";
                document.getElementById("ButtonSubmit").disabled = true;
            }
        });
    });
</script>