<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../../partials/template_head.ejs %>
  </head>
  <body>
			<% var user_profile = user_profile; %>

			<% include ../../partials/template_nav_header.ejs %>
			<% if(user_profile.login) { %>
				<% include ../../partials/template_sidebar.ejs %>
				<% include ../../partials/template_timeout.ejs %>
			<% } %>
    <link rel='stylesheet' href='/css/view_style/CustodianCustWebStyle.css' />
    <div>
				<div class="card-container">
					<div class="card">
						<div class="card-body">
							<p class="card-text">Please enter your old password and new password. Password must contain uppercase letter, one number, and at least 8 characters long.</p> 
						</div>
            <form class="inline" autocomplete="off" action="/S099C001F001/send" method="post"> 
							<div class="card-body">
								<label class="label" for="OldPassword">Old password:</label>
								<input type="password" class="card-input form-control" id="OldPassword" name="OldPassword" required="required" placeholder="Please enter your old password.">
								<p></p>
								<label class="label" for="Password">Password:</label>
								<input 	type="password" class="card-input form-control" id="Password" name="Password" placeholder="Please enter your new password." 
												required pattern="[A-Z]{1}[A-Za-z0-9]{7,30}" maxlength='30' title='由第一個大寫字元加英文或數字所組成的8~30字元'
												onchange="$('#ConfirmPassword').attr('pattern',$(this).val())">
								<p></p>
								<label class="label" for="ConfirmPassword">Confirm password:</label>
								<input 	type="password" class="card-input form-control" id="ConfirmPassword" name="ConfirmPassword" placeholder="Please confirm your password."
												required title='與密碼不符'>
								<p></p>
								<button type="submit" class="btn btn-block btn-verify">
										Reset password
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>

    <% include ../../partials/template_body.ejs %>
		<% include ../../partials/template_footer.ejs %>
		
		<% if(locals.show_popup){ %>
      <% var popup = locals.popup; %>
      <% include ../../partials/template_popup.ejs %>  
    <% } %>
    
  </body>  
</html>


