/* align */
.align-right{
    text-align: right;
}

.align-left{
    text-align: left;
}

.align-center{
    text-align: center;
}

.inline{
    display: inline-block;  
}

.flex-container {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.align-right-mobile{
    /* width: 100%; */
    text-align: left;
    margin-left: 10px;
}

@media (max-width: 576px) {
    .flex-container {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        align-items: baseline;
        flex-wrap: wrap;
    }

    .align-right-mobile{
        width: 100%;
        text-align: right;        
    }
}

.cash-table, .holdings-table {
    border: 1px solid #ced4da;
    padding: 10px;
}