/* align */
.align-right{
    text-align: right;
}

.align-left{
    text-align: left;
}

.align-center{
    text-align: center;
}

.inline{
    display: inline-block;  
}

.align-right-mobile{
    text-align: left;
}

@media (max-width: 736px) {
    .align-right-mobile{
        text-align: right;
    }
}

.cash-table, .holdings-table {
    border: 1px solid #ced4da;
    padding: 10px;
}